# You need to copy this as below
# cp .streamlit/secrets.toml.example .streamlit/secrets.toml

password = "notverysecret"

[emap_ids]
host = "db"
port = 5432
database = "demo"
user = "postgres"
password = "postgres"
